<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/this_report_template.css') }}">
<html>
    <head>
    </head>
    <body>

        <h1 class="main_title">The Report</h1>
        <div class="data">

                <div>Organisation: {{ organisation }}</div>
                <div>Reported: {{ report_date }}</div>
                <div>Created: {{ timestamp }}</div>
        </div>
        <div class="inventory">
            <table>
                {% for item in inventory %}
                <tr><td class="item_name">Name: {{item.name}}</td><td class="item_price">Price: {{item.price}}</td></tr>
                {% endfor %}
            </table>
        </div>

    </body>
</html>