html {
    border: 20px solid black;
    height: 100%;
}

body {
    border: 10px solid black;
    height: calc(100% - 40px);
}

.main_title {
    text-align: center;
}

.data {

    position: absolute;
    right: 5%;
    font-size: large;
}

.inventory {
    position: absolute;
    top: 40%;
    left: 40%;
}

.fields {
    font-size: large;
}

.item_name {
    display: inline-block;
}

.item_price {
    display: inline-block;
}